body{
    background-color: rgb(24, 62, 87);
    margin-top: 3px;
    /* width: 1536px; */
    height: 659px;
}
table{
    background-color: white;
    margin: 0px 83px 20px 260px;
    display: inline-table;
}
p,th{
    font-weight: bold
}
h1{color: white;}