<body>
    <div class="container">
    <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
    <div class="card-body">
        <h1 class="card-title text-center">change Password</h1>
<form #changepass="ngForm" (ngSubmit)='changepassword(changepass)' class="container">
    <div class="row g-3 align-items-center mt-4">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Old Password</label>
            <input id="inputPassword6" class="form-control" required [(ngModel)]="userData.oldpassword" #oldpassword="ngModel" name="oldpassword">
        </div>

        <span class="alert alert-danger my-3" *ngIf="Errormsg!=''">{{Errormsg}}</span>

        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">New Password</label>
          <input id="inputPassword6" class="form-control" required [(ngModel)]="userData.newpass" #newpass="ngModel" name="newpass">
        </div>
    </div>
    <div class="row mb-3 mt-4">
        <button class="btn btn-lg  btn-outline-secondary btn-block text-uppercase" >Change</button>
    </div>
</form>
</div>
</div>
</div>
</div>
</div>
</body>