body{
    background-color: rgb(24, 62, 87);
    margin-top: 3px;
    /* width: 1536px; */
    height: 659px;margin:auto;
}
h1{
    color: rgb(24, 62, 87); 
}
button{width: 350px;
    margin-left:60px;}
a{width: 350px;
    margin-left:60px;}
a:hover{
    background-color: white;
    color: gray;
}